{{ attach_library('westminster_support/base') }}

{% if config.manual.active %}
  {% if config.manual.title %}
    <h2>
      {{ config.manual.title }}
    </h2>
  {% endif %}
  {% if config.manual.description %}
    <div>
      {{ config.manual.description|raw }}
    </div>
  {% endif %}
  {% if config.manual.url %}
    <a class="btn btn-primary btn-lg" href="{{ config.manual.url|escape('html_attr') }}" target="_blank">
      <i class="fa fa-file-pdf-o" aria-hidden="true" role="presentation"></i>
      Download Manual
    </a>
  {% endif %}
{% endif %}

{% if config.info.active %}
  {% if config.info.title %}
    <h2>
      {{ config.info.title }}
    </h2>
  {% endif %}
  {% if config.info.description %}
    <div>
      {{ config.info.description|raw }}
    </div>
  {% endif %}
  <table>
    {% if config.info.email %}
      <tr>
        <th>Email:</th>
        <td>
          <a href="mailto:{{ config.info.email|escape('html_attr') }}">{{ config.info.email }}</a>
        </td>
      </tr>
    {% endif %}
    {% if config.info.phone %}
      <tr>
        <th>Phone:</th>
        <td>
          <a href="tel:{{ config.info.phone|escape('html_attr') }}">{{ config.info.phone }}</a>
        </td>
      </tr>
    {% endif %}
  </table>
{% endif %}
